@import url("./reset.css");

* {
    box-sizing: border-box;
    line-height: normal;
    letter-spacing: normal;
}

:root {

    /*cores*/
    --preto: #000000;
    --branco: #FFFFFF;
    --carrossel: #0C1844;
    --descricao: #212529;
    --titulo: #0C1844;
    --rodape: #2E2D36;
    --onda: #EE629C;
    --quadrado: #236D5E;
    --fundo_verde: #236D5E;
    --bola: #F08784;
    --botao_junte_se_a_nos: #0c1844;
    --fundo: #FFF5E1;
    --gradiente1: #002F52;
    --gradiente2: #326589;
    --degrade_color: color-mix(in srgb, var(--gradiente1), black 50%);
    --degrade_background: color-mix(in oklab, var(--gradiente1), black 50%);
    --bolinhas: #C4C4C4;
    --botao_vermelho: #C80036;
    --botao_borda: #000;
    
    /*fontes*/
    --fonte-cabecalho: 'Arimo', sans-serif;
    --fonte-corpo-principal: 'Arimo', sans-serif;
    --fonte-rodape: 'Inter', sans-serif;

    /*tamanhos*/
    --tamanho-6px: 6px;
    --tamanho-8px: 8px;
    --tamanho-10px: 10px;
    --tamanho-12px: 12px;
    --tamanho-14px: 14px;
    --tamanho-16px: 16px;
    --tamanho-18px: 18px;
    --tamanho-20px: 20px;
    --tamanho-22px: 22px;
    --tamanho-24px: 24px;

    /* tamanhos dos dots carrossel*/
    --carrossel-dots-8px: 8px;
    --carrossel-dots-12px: 12px;
}

body {
    font-family: var(--fonte-corpo-principal);
    height: 100%;
    opacity: 1.0;
}

.rodape {
    font-family: var(--fonte-rodape);
    font-size: var(--tamanho-10px);
    color: var(--rodape);
}

/* EFEITOS DOS ELEMENTOS*/

img,
.cabecalho__direita__botao,
.container_junte__se__a__nos__botao {
    transition: 0.5s;
}

img:hover,
.cabecalho__direita__botao:hover,
.container_junte__se__a__nos__botao:hover {
    opacity: 0.7;
}

/* CODIGOS COMPARTILHADOS*/

.cabecalho,
.cabecalho__esquerda,
.cabecalho__direita,
.container__apresentacao,
.container__conteudo_apresentacao,
.container__conteudo_apresentacao__titulo,
.container__conteudo_apresentacao__paragrafo,
.container__apresentacao__imagem,
.container__apresentacao2,
.container__apresentacao2__imagem,
.container__apresentacao__caracteristicas,
.container__onda__cima2,
.container__servicos__profissionais,
.container__servicos__profissionais__conteudo,
.container__servicos__profissionais__conteudo__texto,
.container_junte__se__a__nos,
.container__servicos__profissionais__titulo,
.carrossel__titulo,
.swiper-slide,
.container__copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* CODIGOS COMPARTILHADOS*/

.container__apresentacao__caracteristicas,
.container__servicos__profissionais__conteudo__texto {
    flex-direction: column;
    font-family: var(--fonte-corpo-principal);
    font-size: var(--tamanho-14px);
    color: var(--titulo);
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    gap: 3px;
}

/* CODIGOS COMPARTILHADOS*/

.container__apresentacao__caracteristicas__descricao,
.container__servicos__profissionais__conteudo__descricao {
    font-weight: normal;
    color: var(--preto);
    font-size: var(--tamanho-8px);
}

/* CODIGOS COMPARTILHADOS*/

.container__conteudo_apresentacao__paragrafo,
.container__apresentacao__caracteristicas__descricao,
.container__servicos__profissionais__conteudo__descricao{
    justify-content: left;
    text-align: left;
}

.cabecalho {
    justify-content: space-evenly;
    padding: 3px;
}

.cabecalho__esquerda {
    position: relative;
    width: 25%;
}

.cabecalho__conteudo__logo{
    width: 80px;
    height: 40px;
}

.cabecalho__direita {
    justify-content: end;
    width: auto;
    font-family: var(--fonte-cabecalho);
    font-size: var(--tamanho-8px);
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    gap: 15px;
}

.cabecalho__direita__texto {
    color: var(--preto);
    font-display: var(--preto);
}

.cabecalho__direita__botao {
    background-color: var(--botao_vermelho);
    font-display: var(--branco);
    color: var(--branco);
    border: solid 2px var(--botao_borda);
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 6px;
}

.principal {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.container__apresentacao {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3px;
    gap: auto;
}

.container__conteudo_apresentacao {
    justify-content: flex-start;
    flex-direction: column;
    line-height: normal;
    letter-spacing: normal;
    gap: 15px;
    padding: 0 3px;
}

.container__conteudo_apresentacao__titulo{
    font-family: var(--fonte-corpo-principal);
    font-size: var(--tamanho-14px);
    color: var(--preto);
    gap: 2px;
}

.container__conteudo_apresentacao__titulo__item1 {
    font-weight: normal;
}

.container__conteudo_apresentacao__titulo__item2,
.container__servicos__profissionais__titulo,
.carrossel__titulo {
    font-weight: bold;
    text-shadow: 0px 2px 5px var(--branco), 0px 2px 5px var(--preto);
}

.container__conteudo_apresentacao__paragrafo__item {
    font-family: var(--fonte-corpo-principal);
    font-size: var(--tamanho-8px);
    color: var(--preto);
    font-weight: normal;
}

.container__apresentacao__imagem {
    width: auto;
}

.container__apresentacao__imagem__item {
    width: 70px;
    height: 60px;
}

.container__apresentacao2 {
    flex-direction: column;
    padding: 0 3px;
    gap: 15px;
}

.container__apresentacao2__imagem {
    position: relative;
    width: 100%;
}

.container__apresentacao2__imagem__item {
    width: 360px;
    height: auto;
}

.container__onda__cima__item,
.container__onda__cima__item2,
.container__onda__baixo__item,
.container__onda__baixo__item2 {
    width: 100%;
    height: 100%;
}

.container__servicos__profissionais {
    background-color: var(--fundo_verde);
    flex-direction: column;
    justify-content: space-between;
    gap: 0 15px;
    width: 100%;
}

.container__servicos__profissionais__conteudo {
    width: 100%;
    gap: 0 20px;
    padding: 3px;
}

.container__servicos__profissionais__conteudo__texto {
    color: var(--preto);
}

.container__servicos__profissionais__conteudo__imagem {
    width: auto;
    height: auto;
}

.container__servicos__profissionais__conteudo__imagem__item {
    position: relative;
    width: 94px;
    height: 61px;
}

.container__onda__cima__item2,
.container__onda__baixo__item2,
.container_junte__se__a__nos {
    background-color: var(--onda);
    position: relative;
    width: 100%;
}

.container_junte__se__a__nos {
    flex-direction: column;
    font-family: var(--fonte-corpo-principal);
    font-size: var(--tamanho-8px);
    color: var(--descricao);
    font-weight: normal;
}

.container_junte__se__a__nos__botao {
    background-color: var(--botao_junte_se_a_nos);
    font-display: var(--branco);
    color: var(--branco);
    border: solid 2px var(--botao_borda);
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 6px;
}

.container__servicos__profissionais__titulo,
.carrossel__titulo {
    color: var(--preto);
    font-size: var(--tamanho-14px);
    font-family: var(--fonte-corpo-principal);
}

.carrossel {
    background-color: var(--fundo_verde);
    width: 100%;
}

.swiper,
.swiper-slide {
    width: 360px;
    height: 150px;
    background-color: var(--fundo_verde);
}

.swiper-slide {
    padding: 10%;
}

.carrossel__texto {
    background-color: var(--carrossel);
    font-display: var(--branco);
    font-size: var(--tamanho-12px);
    color: var(--branco);
    border: solid 2px var(--botao_borda);
    border-radius: 10px;
    outline: none;
    text-align: justify;
    font-weight: normal;
    padding: 10px;
}

.swiper-pagination,
.swiper-pagination-bullet {
    width: var(--carrossel-dots-8px);
    height: var(--carrossel-dots-8px);
}

.swiper-pagination {
    position: auto;
}

.swiper-pagination-bullet-active{
    background: var(--degrade_color);
 }

 .rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.rodape__logo {
    position: relative;
    width: 50px;
    height: 40px;
    padding: 3px;
}

.rodape__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 5px;
    align-content: top;
    align-items: left;
}

.rodape__titulo {
    font-weight: bold;
}

.rodape__descricao {
    font-size: var(--tamanho-8px);
    font-weight: normal;
}

.rodape__siga__nos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: auto;
}

.rodape_siga__nos__logo {
    position: relative;
    width: 10px;
    height: 10px;
}

.container__copyright {
    padding: 3px;
}

.container__copyright__texto {
    font-family: var(--fonte-menu-lateral);
    font-size: var(--tamanho-10px);
    color: var(--cinza);
    font-weight: 400;
}

@media screen and (min-width: 720px) {
    .cabecalho__conteudo__logo{
        width: 100px;
        height: 50px;
    }

    .cabecalho__direita,
    .container_junte__se__a__nos__botao,
    .rodape__titulo,
    .container__copyright__texto {
        font-size: var(--tamanho-12px);
    }

    .container__conteudo_apresentacao__titulo,
    .container__apresentacao__caracteristicas,
    .container__servicos__profissionais__conteudo__texto,
    .container__servicos__profissionais__titulo,
    .carrossel__titulo {
        font-size: var(--tamanho-16px);
    }

    .container__conteudo_apresentacao__paragrafo__item,
    .container__apresentacao__caracteristicas__descricao,
    .container__servicos__profissionais__conteudo__descricao,
    .container_junte__se__a__nos__paragrafo,
    .rodape__descricao {
        font-size: var(--tamanho-10px);
    }

    .container__apresentacao__imagem__item {
        width: 106px;
        height: 91.71px;
    }

    .container__apresentacao2__imagem__item {
        width: 480px;
    }
 
    .container__servicos__profissionais__conteudo__imagem__item {
        position: relative;
        width: 370px;
        height: 120.25px;
    }

    .carrossel__texto {
        font-size: var(--tamanho-14px);
    }

    
    .swiper-pagination,
    .swiper-pagination-bullet {
        width: var(--carrossel-dots-12px);
        height: var(--carrossel-dots-12px);
    }

    .rodape__logo {
        width: 60px;
        height: 60px;
    }
    
    .rodape_siga__nos__logo {
        width: 20px;
        height: 20px;
    }
}
